
<div [class.offhomebuttoncss]="offhomebutton" >
<button class="hoomelandbutton" ><a routerLink="/main">sdsd</a></button> </div>
<ng-sidebar-container class="mobilenavigationcontainer">
  
    <!-- Sidebar -->
  <ng-sidebar [opened] = "opened">

  <button class="closebutton" (click) = "toggleSidebar()"></button>
  <ul class="menu">
    <li class="hoverli  container" *ngFor="let elem of NavigationData">
      <p class="btn btn2 "  ><a  routerLink={{elem.link}}>{{elem.title}} </a></p> 
  </li>
  </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <!-- page contents -->
  <button class="burgerbutton" (click)="toggleSidebar()"> 

  </button>
  
  </div>
  </ng-sidebar-container>


