

<div [class.offhomebuttoncss]="offhomebutton" >
 
  <a style="color:black" routerLink="/main"><button class="hoomelandbutton"></button> </a>
 </div>
<div [class.totopslider]="ontopslider">
<ng-sidebar-container    class="mobilenavigationcontainer "  >
  
    <!-- Sidebar -->
  <ng-sidebar [opened] = "opened">

  <button class="closebutton" (click) = "toggleSidebar()"></button>
  <ul class="menu">
    <li  class="hoverli  container sectionmobile" *ngFor="let elem of NavigationData">
      
      <p style={{elem.pstyle}}  class="btn btn2 "  ><a   routerLink={{elem.link}}>{{elem.title}} </a></p>

  </li>
  
  </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <!-- page contents -->
  <button class="burgerbutton" (click)="toggleSidebar()"> 

  </button>
  
  </div>
  </ng-sidebar-container>
</div>

