.navigationburger {
    width:300px ;
    height: 23px;

    background-size: cover;
display: flex;
flex-direction: column;
position: absolute;
padding-left: 690px;
padding-top: 20px;
z-index: 2;
}




li {
  list-style-type: none;
  width: 180px;
}
.navigation {

}
p, a {
  font-size: 14pt;
  margin: 0 24px;
  padding: 2px;
  text-decoration:none;
  color: #46423f;
}



.container
{
  perspective: 320px;
}

.btn
{
  display: block;
  margin: 4px 0;
  width: 258px;
  height: 100%;
  border: none;
  background-color: #ffcc01;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: .3s linear;
}
.btn2:hover {
  transform: rotateX(-15deg);
  box-shadow: 0 -15px 15px #ffcc01;
}







@media screen and (max-width: 1024px) {
  .navigationburger{
    height: 200px;
  }


  }



