.navigationburger {
    width:300px ;
    height: 23px;

    background-size: cover;
display: flex;
flex-direction: column;

padding-left: 900px;
}




li {
  list-style-type: none;
}
.navigation {
  width: 500px;
}
p, a {
  font-size: 14pt;
  margin: 0 24px;
  padding: 2px;
  text-decoration:none;
  color: #46423f;
}








@media screen and (max-width: 1024px) {
  .navigationburger{
    height: 200px;
  }


  }



