<main class="main_centerpage">

    <div class="mainslider">
        <app-favouritepicturesslider></app-favouritepicturesslider>
      </div>
    


<div class="photo_card">
</div>
<div class="blockdetails">
    <h1 class="aboutmetext">Обо мне</h1>
    <p> Привет! Меня зовут Даниил. Я художник и веб дизайнер фрилансер. Рисую как традиционную графику также и компьютерную. Рисую на одежде. Работаю с графикой для сайтов,  с фронтенд решениями. Добро пожаловать на мою страницу портфолио.</p></div>


    







</main>

