.footerccenter {
    width: 1203px;
    height: 50px;
    background-image: url('src/assets/images/ui/uifooter.png');
    background-size: contain;
    background-repeat: no-repeat;

    -moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-bottomright: 48px;
-webkit-border-bottom-right-radius: 48px;
border-bottom-right-radius: 48px;
-moz-border-radius-bottomleft: 48px;
-webkit-border-bottom-left-radius: 48px;
border-bottom-left-radius: 48px;
}
.contacts {
    font-size: 20px;
}

@media screen and (max-width: 480px) {
      .footerccenter {
        width: 390px;
        background-image: none;
        background-color: teal;
        margin:0px auto;
      }
   }
