<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <!-- <span class="name">{{hero.name}}</span> -->
       
      <img  class="imgss" src={{hero.imgs}}>

    </button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <button close (click)="onClose()">Close</button>
  <img src={{selectedHero.imgs}}>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.imgs" placeholder="name">
  </div>
</div>