
        
<div class="test">
    <app-favouritepicturesslider ></app-favouritepicturesslider>
</div>

<app-mobilenavigationslider >

</app-mobilenavigationslider>




<header class="headerccenter">
  
   <div class="container_for_havigation"> 
   <!--  <app-headerslider style="display:none"></app-headerslider>  --> 
     <!-- слайдер -->

     <app-traditionalartslider class="traditionalslider"></app-traditionalartslider>


        
    <app-navigationburger ></app-navigationburger>

    
</div>

</header>
