.headerccenter {
     width: 1203px;
    height: 231px;
/*     background-color: #FFC85A; */
    display: flex; 
    background-image: url('src/assets/images/ui/uibanner.png');
    background-size: contain;
    background-repeat: no-repeat;

/*     -moz-border-radius-topleft: 66px;
    -webkit-border-top-left-radius: 66px;
     border-top-left-radius: 66px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; */
}
.container_for_havigation {
 width: 200px;
    display: flex;
}

button {
    background: black;
}


@media screen and (max-width: 480px) {


.headerccenter {
    width: 383px;
    margin:0px auto;
    height: 100px;
    background-image: url('src/assets/images/ui/uibannermobile.png');
    background-size: contain;

}
.hoomelandbutton {
    display: block;
}

}

@media screen and (max-width: 412px) {


    .headerccenter {
        width: 383px;
        margin:0px auto;
        height: 100px;
        background-image: url('src/assets/images/ui/uibannermobile.png');
        background-size: contain;
    
    }
    }