
.terran_units_page {
  width: 1200px;
  height: 900px;
  border: 2px solid black;  
  background-color: #ffcc01;
}
.heroes {
 width: 1000px;
    list-style-type: none;
    padding-left: 5%;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
  }
  .opacityclass {
    opacity: .3;
  }
  
  .heroes li {
 display: list-item;
  }
  
  .heroes button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
    width: 200px;
    height: 200px;
  }
  
  .heroes button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .heroes button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .heroes button.selected {
    background-color: black;
    color: white;
  }
  
  .heroes button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .heroes button.selected:active {
    background-color: black;
    color: white;
  }
  
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .heroes .name {
    align-self: center;
  }
  .imgss {
    width: 200px;
    height:200px ;
  }

.openedimage {
/*   position: absolute;
top: 10%;
left: 30%;
display: flex;
flex-direction: column;
align-items: center;
z-index:2;   */
/* old styles */

display: flex;
  position: relative;
  flex-direction: column;

  
  width: 700px;
  height: 800px;
 bottom: 200px;
 background-image: url('src/assets/images/ui/ui_opened_picture_background.png');

 background-size: contain;
 background-repeat: no-repeat;


}
.backgroundfade {
  background-color: black;
}
.imgsstil {
  width: 70%;
  height: 70%;
  height: auto;
  display: block;
  margin: 0 auto;

  object-fit: cover;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.openedimageclose {
  background-image: url('src/assets/images/ui/exit_opened_img.png');
  width: 50px;
  height: 50px;
  background-size: cover;
  cursor: pointer;
  transition: 1s;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  
  }
  .openedimageclose:hover {
    transform: scale(1.2);
  }