<div class="drawing_on_cloth_page" [class.backgroundfade]="fadeblack">
  <div class="drawingonclothtslider">
    <app-drawingonclothslider></app-drawingonclothslider>
  </div>
  <div class="pics" [class.opacityclass]="check">
    <div class="picturecard" *ngFor="let picture of pics">
      <button [class.selected]="picture === selectedPicture" type="button" (click)="onSelect(picture)">
        <span class="badge">{{picture.id}} </span>


        <img class="imgss" src={{picture.imgs}}>

      </button>
    </div>
  </div>


  <div class="openedimage-wrapper" *ngIf="selectedPicture">
  <div class="openedimage">

    <button class="openedimageclose" close (click)="onClose()"></button>
    <div class="block_for_opened_image">
      <img class="imgsstil" src={{selectedPicture.imgs}}   style={{selectedPicture.classtyle}}  >
      
      <div>

        <a href="{{selectedPicture.imgs}}" target="_blank" placeholder="name" >
        <!--   {{selectedPicture.name}} -->
        <div class="button_for_open_full">
        </div> 
        <div class="button_for_open_full_mobile">
        </div>
        </a>
      
      </div>
    </div>
  </div>
  </div>
</div>